.answer_list_container {
  margin-top: 15px;
}

.answer {
  width: 90%;
  margin: 15px auto;
  padding: 8px;
  border: 1px solid #002d72;
  border-radius: 8px;
}

.answer:hover,
.answer:focus,
.answer:active {
  background-color: #4c6c9c;
}

.correct {
  border: 2px solid #04946c;
  background-color: #4fb498;
}

.incorrect {
  border: 2px solid #d84242;
  background-color: #e78d8d;
}
